
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f9;
        }

        .container {
            max-width: 600px;
            margin: 30px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        h1,h2{
            text-align: center;
            color: rgb(27, 51, 98);;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;
           
        }

        label {
            
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #555;
        }

        input, select, textarea {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }

        textarea {
            resize: vertical;
        }

        .btn {
            display: block;
            width: 100%;
            background-color:rgb(27, 51, 98);
            color: white;
            border: none;
            padding: 10px 15px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .btn:hover {
            background-color:rgb(108,138,195);
        }
      .out{
        display: flex;
        justify-content: space-between;
       
      }
      a{text-decoration: none;
        color: #fff;}